/* Estilos para el formulario de login */
body {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f3f4f6;
    color: #333;
    padding: 1.25rem;
    /* 20px */
}

.login-container {
    text-align: center;
    margin: 2.5rem auto;
    /* 40px */
}

.login-title {
    margin-bottom: 1.25rem;
    /* 20px */
}

.login-input {
    margin: 0.625rem 0;
    /* 10px */
    padding: 0.625rem;
    /* 10px */
    width: 100%;
    border: 0.0625rem solid #ccc;
    /* 1px */
    border-radius: 0.25rem;
    /* 4px */
}

.login-button {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    background-color: #102552;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    /* 4px */
    cursor: pointer;
}

.login-button:hover {
    background-color: #174ea6;
}

/* Estilos para el formulario de producto */
.producto-form {
    background: #fff;
    border-radius: 0.90rem;
    /* 12px */
    padding: 2rem;
    /* 32px */
    max-width: 25rem;
    /* 400px */
    margin: 2.5rem auto;
    /* 40px */
    box-shadow: 0 0.125rem 0.5rem rgba(37, 99, 235, 0.08);
    /* 2px 8px */
}

.form-title {
    margin-bottom: 1.5rem;
    /* 20px */
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
    /* 16px */
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    /* 8px */
    border-radius: 0.25rem;
    /* 4px */
    border: 0.0625rem solid #ccc;
    /* 1px */
}

.form-hint {
    color: #888;
}

.form-error {
    color: red;
    margin-bottom: 0.5rem;
    /* 8px */
}

.form-button {
    width: 100%;
    margin-top: 0.75rem;
    /* 12px */
    padding: 0.625rem;
    /* 10px */
    background-color: #2563eb;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    /* 4px */
    cursor: pointer;
}

.form-button:hover {
    background-color: #174ea6;
}